body {font-family: 'arial'; font-size: 14px; line-height: 1.6em; color: #222; background: #f6f6f6;}

#main {width: 1024px; margin: 0 auto;}

header {width: 254px; float: left; margin: 0 32px 0 0;}

content {width: 738px; float: right; padding: 64px 0 0 0;}

footer {margin: 64px 0 32px 0; padding: 6px 0 0 0; font-size: .85em; border-top: 1px solid #ccc;}
footer ul {display: inline-block; list-style: none; margin: 0; padding: 0;}
footer ul li {display: inline-block; margin-right: 32px;}
footer p {float: right;}

/* content styles */
a {color: #3173C4; text-decoration: none;}
a:hover {text-decoration: underline;}
h1, h2, h3 {margin: .1em 0 .6em 0; font-weight: bold; color: #444;}
h1 {font-size: 2.0em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}
ul {margin: 0 0 16px 32px;}
p {padding: 0 0 16px 0;}
strong {font-weight: bold;}
em {font-style: italic;}
code {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #edebdd; border-radius: 3px;}
pre code {color: #c9bf9f; white-space: pre; background: none;}
em code, strong code {font-style: normal; font-weight: normal;}

.highlight {position: relative; margin: 0 0 24px 0;}
.highlight input[type=button] {position: absolute; top: 10px; right: 10px; opacity: .6;}
.highlight input[type=button]:hover {opacity: 1;}
.highlight pre {white-space: pre; background-color:#fff; border: 1px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px;}
.highlight pre code {background: none !important;}

.toc {width: 200px; float: right; padding: 10px 16px 10px 32px; background: #fff; border: 1px solid #ddd; border-radius: 4px;}
.toc ul {margin: 0; padding: 0; list-style: disc;}
.toc ul ul {margin-left: 16px;}

