html {overflow-y: scroll; overflow-x: auto;}
body {font-family: 'arial'; font-size: 14px; line-height: 1.6em; color: #222; background: #f6f6f6;}

#main {width: 1024px; margin: 0 auto;}

header {width: 254px; float: left; margin: 0 32px 0 0;}
header h1 {margin-left: 0;}

content {width: 738px; float: right; padding: 64px 0 0 0;}

footer {margin: 64px 0 32px 0; padding: 6px 0 0 0; font-size: .85em; border-top: 1px solid #ccc;}
footer ul {display: inline-block; list-style: none; margin: 0; padding: 0;}
footer ul li {display: inline-block; margin-right: 32px;}
footer p {float: right;}

/* content styles */
a {color: #3173C4; text-decoration: none;}
a:hover {text-decoration: underline;}
h1, h2, h3 {margin: .1em 0 .6em 0; font-weight: bold; color: #444;}
h1, h2 {margin-left: -4px;}
h1 code, h2 code, h3 code {margin-left: 8px; font-size: 12px;}
h1 {font-size: 2.0em;}
h2 {font-size: 1.5em;}
h3 {margin-top: .8em; font-size: 1.2em;}
ul {margin: 0 0 16px 32px;}
ul ul {margin-bottom: 0;}
p {padding: 0 0 16px 0;}
strong {font-weight: bold;}
em {font-style: italic;}
code {margin: 0 2px; padding: 2px 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #edebdd; border-radius: 3px;}
pre code {color: #c9bf9f; white-space: pre; background: none;}
em code, strong code {font-style: normal; font-weight: normal;}

.highlight {position: relative; margin: 0 0 24px 0;}
.highlight input[type=button] {position: absolute; top: 10px; right: 10px; opacity: .6;}
.highlight input[type=button]:hover {opacity: 1;}
.noeval .highlight input[type=button] {display: none;}
.highlight pre {white-space: pre; background-color:#fff; border: 1px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px;}
.highlight pre code {background: none !important;}

.toc {position: relative; z-index: 2; width: 184px; float: right; margin: 0 0 0 16px; padding: 10px 16px 10px 32px; background: #fff; border: 1px solid #ddd; border-radius: 4px;}
.toc ul {margin: 0; padding: 0; list-style: disc;}
.toc ul ul {margin-left: 16px;}

.example {margin: 0 0 8px 0; padding: 6px;}
.fade {transition: background 1s;}
.fade.enabled {background: #cfc;}

.home .download {width: 30%; float: right; background: #;}
div.button.huge {
	display: inline-block;
	border: 0 none;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset;
	/*margin-left: 54px;*/
	min-width: 80px;
	padding: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	transition: all 0.25s linear 0s;
	width: 240px;
	height: 97px;
}
div.button.huge {
	background: #659324; /* Old browsers */
	background: -moz-linear-gradient(top, #81bc2e 1%, #659324 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#81bc2e), color-stop(100%,#659324)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #81bc2e 1%,#659324 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #81bc2e 1%,#659324 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #81bc2e 1%,#659324 100%); /* IE10+ */
	background: linear-gradient(to bottom, #81bc2e 1%,#659324 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81bc2e', endColorstr='#659324',GradientType=0 ); /* IE6-9 */
}
div.button.huge a {
	display: block;
	width: 166px;
	height: 108px;
}
div.button.huge.chrome a {
	margin: -4px 0 0 -54px;
	padding: 0 0 0 110px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	line-height: 20px;
	text-decoration: none;
	background: url(/images/chrome-large.png) left center no-repeat;
}
div.button.huge.firefox a {
	margin: -4px 0 0 -54px;
	padding: 0 0 0 110px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	line-height: 20px;
	text-decoration: none;
	background: url(/images/firefox-large.png) left center no-repeat;
}

div.button.huge a h2 {
	margin: 32px 0 0 0;
	padding: 0;
	color: inherit;
	text-align: center;
	font-family: 'Open Sans',sans-serif;
	font-size: 24px;
	font-weight: normal;
}
div.button.huge a h2 em {
	display: inline-block;
	margin: 0 0 0 6px;
	font-style: normal;
}
div.button.huge a small {
	display: block;
	margin: 7px 0 0 0;
	color: #204a02;
	font-size: 14px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-align: center;
	text-decoration: none !important;
}

