body {font-family: 'arial'; font-size: 13px;}

#main {width: 1024px; margin: 0 auto;}

header {width: 254px; float: left; margin: 0 32px 0 0;}

content {width: 738px; float: right;}

footer {}

/* content styles */
h1, h2, h3 {margin-bottom: .2em; font-weight: bold;}
h1 {font-size: 28px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
ul {margin: 0 32px 16px 0;}
p {padding: 0 0 16px 0;}

