<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="test/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en">
		<title>{{ page.title }} | Composer.js</title>
		<link rel="stylesheet" href="/composer.js/css/reset.css">
		<link rel="stylesheet" href="/composer.js/css/main.css">
		<link rel="stylesheet" href="/composer.js/js/highlight.js/default.css">
		<script src="/composer.js/js/mootools-core-1.4.5.js"></script>
		<script src="/composer.js/js/History.js"></script>
		<script src="/composer.js/js/composer.js"></script>
		<script src="/composer.js/js/app.js"></script>
		<script src="/composer.js/js/highlight.pack.js"></script>
	</head>
	<body>
		<div id="main">
			<header>
				<a href="/composer.js"><img src="/composer.js/images/composer.png" width="219" height="260" alt="composer"></a>
				<h1><a href="/composer.js">Composer.js</a></h1>
				<ul>
					<li><a href="/composer.js/examples/">Examples</a></li>
					<li>
						<a href="/composer.js/docs/">Documentation</a>
						<ul>
							<li><a href="/composer.js/docs/class">Class system</a></li>
							<li><a href="/composer.js/docs/event">Eventing</a></li>
							<li><a href="/composer.js/docs/util">Utilities</a></li>
							<li><a href="/composer.js/docs/base">Base</a></li>
							<li><a href="/composer.js/docs/model">Model</a></li>
							<li><a href="/composer.js/docs/relational">Relational model</a></li>
							<li><a href="/composer.js/docs/collection">Collection</a></li>
							<li><a href="/composer.js/docs/filtercollection">Filter collection</a></li>
							<li><a href="/composer.js/docs/controller">Controller</a></li>
							<li><a href="/composer.js/docs/router">Router</a></li>
						</ul>
					</li>
					<li><a href="/composer.js/pages/tests">Tests</a></li>
					<li><a href="/composer.js/pages/building">Building/load order</a></li>
				</ul>
			</header>

			<content>
				{{ content }}
			</content>

			<span style="display: block; clear: both;"></span>

			<footer>
				<ul>
					<li><a href="/composer.js">Composer.js home</a></li>
					<li><a href="https://github.com/lyonbros.composer.js">Github</a></li>
				</ul>
				<p>&copy; <a href="http://lyonbros.com">Lyon Bros. Enterprises, LLC</a>. MIT Licensed.</p>
			</footer>
		</div>
	</body>
</html>
