<!DOCTYPE html>
<html>
	<head>
		<base href="/composer.js/">
		<meta http-equiv="Content-Type" content="test/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en">
		<title>{{ page.title }} | Composer.js</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="js/highlight.js/default.css">
		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
		<script src="js/mootools-core-1.4.5.js"></script>
		<script src="js/History.js"></script>
		<script src="composer.js"></script>
		<script src="js/app.js"></script>
		<script src="js/highlight.pack.js"></script>
		<script src="js/bluebird.js"></script>
		<script src="js/morphdom.js"></script>
	</head>
	<body class="body-{{ page.title | slugify }}">
		<div id="main">
			<header class="clear">
				<h1><a href="/composer.js/"><span>Composer.js</span></a></h1>

				<ul>
					<!--<li><a href="guide/start/">Getting started</a></li>-->
					<li><a href="docs/">Documentation</a></li>
					<li><a href="examples/">Examples</a></li>
					<li><a href="https://github.com/lyonbros/composer.js">Github</a></li>
				</ul>
			</header>

			<content>
				{{ content }}
			</content>

			<span style="display: block; clear: both;"></span>

			<footer>
				<ul>
					<li><a href="">Composer.js home</a></li>
					<li><a href="https://github.com/lyonbros/composer.js">Github</a></li>
				</ul>
				<p>
					&copy; <a href="http://lyonbros.com">Lyon Bros. Enterprises, LLC</a>.
					MIT Licensed.
					Special thanks to <a href="http://www.mohsentaleb.com/">Mohsen Taleb</a> for his branding work.
				</p>
			</footer>
		</div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.killtheradio.net/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "9"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
	</body>
</html>

