---
layout: default
---

<ul class="doc-nav">
	<li><a href="/composer.js/docs/">Start</a></li>
	<li><a href="/composer.js/docs/class">Class system</a></li>
	<li><a href="/composer.js/docs/event">Eventing</a></li>
	<li><a href="/composer.js/docs/util">Utilities</a></li>
	<li><a href="/composer.js/docs/base">Base</a></li>
	<li><a href="/composer.js/docs/model">Model</a></li>
	<li><a href="/composer.js/docs/collection">Collection</a></li>
	<li><a href="/composer.js/docs/controller">Controller</a></li>
	<li><a href="/composer.js/docs/relational">Relational model</a></li>
	<li><a href="/composer.js/docs/filtercollection">Filter collection</a></li>
	<li><a href="/composer.js/docs/listcontroller">List controller</a></li>
	<li class="sep"><a href="/composer.js/docs/router">Router</a></li>
	<li><a href="/composer.js/docs/best-practices">Best practices</a></li>
	<li><a href="/composer.js/docs/building">Building/load order</a></li>
	<li><a href="/composer.js/docs/tests">Tests</a></li>
</ul>
<div class="documentation show-toc show-eval do-highlight">
	<div class="toc"></div>
	{{ content }}
</div>
