---
layout: default
---

<ul class="doc-nav">
	<li><a href="/composer.js/examples/">Examples</a></li>
	<li><a href="/composer.js/examples/model-controller">Model/Controller</a></li>
	<li><a href="/composer.js/examples/controller-form">Controller form</a></li>
	<li><a href="/composer.js/examples/controller-xdom">xdom Controller</a></li>
	<li><a href="/composer.js/examples/todo">TODO app</a></li>
	<li><a href="/composer.js/examples/router">Routing</a></li>
</ul>
<div class="examples documentation show-toc show-eval do-highlight">
	{{ content }}
</div>
